.gbl{
    display: flex;
    /* background-color: RED; */
    justify-content: space-between;
    text-align: center;
    margin-top: -40px;
}
.container{
width: 70%;
justify-content: center;
}

.btns{
    width: 6PX;
    /* background-color: blueviolet; */
    height: 3PX;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5PX;
    /* background-color: RED; */
    /* background-color: transparent; */
    border: none;
    /* box-shadow: 0 PX 0PX 0PX transparent; */
    
}
.bi{
    /* font-size: 15PX;
    text-align: center; */
    justify-content: center;
    align-items: center;
   
    
}
.center{
    align-items: center;
}
.center img{
    width:1000PX;
    height: 500PX;
    justify-items: center;
}
.images{
    width: 800px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* background-color: RED; */
    
}
.images img{
    width: 100PX;
    margin: 10PX;
}
table{
    width: 80%;
    text-align: center;
    align-items: center;

}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.carac{
    background-color: #FBF8F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
/* hr{
    color: gray;
} */
.pluscarac{
    display: flex;
    margin: 20Px;
    justify-content: space-around;
    width: 90%;
}
.disc{
    background-color: #FBF8F4;
    ;
    width: 70%;
}
.accom{
    background-color: #FBF8F4;
    width: 20%;
}
.gri{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100;
}
.gri img{
    width: 80%;
    padding: 10px;
}

.TEXT{
    /* margin-right: 300PX; */
    text-align: left;
}
.voir{
    background-color: transparent;
    border: none;
  align-items: start;
  /* margin-left: 200PX; */
}
.titre{
    position: relative;
    margin-left: 20PX;
    margin-top: -60PX;
    padding-top:100PX;
    display: flex;
    justify-content: space-between;
    
}
