.contact-form {
    max-width:400PX;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


textarea ,#ema{
    width: 100%;
    padding: 10px;
    /* margin-bottom: 20px; */
    /* border: 1px solid #ccc; */
    border: 1px solid #00000042;
    box-shadow: 0 4px 8px #00000042;
    border-radius: 4px;
    resize: vertical;
    background-color: transparent;
}
#ema{
    width: 65%;
    margin-right: 10%;
    
}
button {
    
    padding: 10px 4px;
    width: 25%;
    /* background-color: #007bff; */
    background-color: transparent;
    border: 1px solid #00000042;
    box-shadow: 0 4px 8px #00000042;
    color: rgb(0, 0, 0);
   
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    /* text-align: left; */
}

button:hover {
    background-color: #C7A878;
    border: none;
}

/* Media Query pour les petits écrans */
@media screen and (max-width: 600px) {
    .contact-form {
        padding: 20px;
    }

    input[type='email'],
    textarea {
        margin-bottom: 15px;
    }
}
