.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 500PX;
    height: 500PX;
    /* background-color: yellow; */
}

.owner-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.owner-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.owner-name {
    margin-top: 20px;
}

.form-container {
    width: 60%;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* background-color: antiquewhite; */
}
.but{
    display: flex;
    justify-content: space-between;
}
.but .btn{
    /* text-align: start; */
    align-items: center;
    width: 120PX;
    height: 30PX;
    background-color: #C7A878;
}
