@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:poppins ,sans-serif;
    
    
}
.body{
    background-image: url('/public/ACC.png');
    background-size: cover;
}
:root{
    --firstcolor:#C7A878;
    --secondcolor:#F2EFEB;
    --treeco:#C7A878;
}
.header{
    /* position: fixed; */
    /* position: absolute;
    margin-top: 600PX; */
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 2rem;
    /* background-color: rgb(120, 223, 151); */
    /* margin-top: 200px; */
    color: black;
    z-index: 99;
}
.nav{
    /* background-color: red; */
    /* z-index: 99; */
    margin-right: -700px;
    margin-top: 25px;
    /* margin-left: 0px; */
    width: 70%;
    text-align: end;
    align-items: center;
    /* font-size: 26px; */
/* font-weight: 600; */
/* line-height: 39px;*/
}
.nav .link{
    margin: 0 2rem;
    text-decoration: none;
    /* background-color: rgb(248, 174, 174); */
    color: black;
    transition: color 0.3s ease;
    font-weight: 500;
    font-size: 20px;

}
.nav .link:hover{
    color: #C7A878;
}
.btn-nav{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: blueviolet;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
@media (max-width: 1024px) {
    .header .btn-nav{
        visibility: visible;
        opacity: 1;
    }
    .header  .nav{
        position: fixed;
        /* margin-right: 0; */
        top: 0;
        left: 0;
        /* margin-top:1120PX;
        margin-top:1120PX;
        margin-left: -200PX; */
        height: 100%;
        width:  100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #C7A878;
        transition: 1s;
        transform: translateY(-100vh);
    }
    .header .resp{
        transform: none;
        /* height: 80px; */

    }
    .ferme{
        position: absolute;
        top: 2rem;
        right:  2rem;
    }
    .nav .link{
        font-size: 1.5rem;
    }



}

/* .nav{ */
    /* background-color: red; */
    /* font-family: Poppins; */
/* font-size: 26px; */
/* font-weight: 600; */
/* line-height: 39px;
text-align: left;
display: flex;
list-style: none;
height: 80px; */
/* } */
.header .img{
    width: 130px;
height: 57px;
top: 14px;
left: 36px;
gap: 0px;
opacity: 0px;
 position: absolute

}
 /* */ 
.n{
    width: 500px;
height: 400px;
/* margin-top: -280PX;
margin-left: -320px; */
/* top: -301px;
left: -295px; */
background-color:  #C7A878;
border-radius: 50%;
/* position: absolute; */

}
.b{
    display: block;
    width: 270PX;
    height: auto;
    margin-left: -40px;
    margin-top: -40px;
}
/* .nav li{
    margin: 0 2rem;
} */




.conx{
    background-color:  #C7A878;
    width: 120px;
/* height: 37px; */
border-radius: 10px ;
border: transparent;
/* font-family: Poppins; */
font-size: 20px;
font-weight: 600;
line-height: 39px;
text-align: center;
}
.conx:hover{
    background-color: #DDCBAD;
}