.footer{
    /* background-image: url('../immomarche/Rectangle 1250 (2).png'); */
    background-image: url('../immomarche/footerr.jpg');
    /* background-color: aqua; */
    height:    500px;
    width: 100%;
    background-size: cover;
     background-repeat: no-repeat;
    background-position: top;
    /* background-position: center; */
    /* background-attachment: fixed; */
    width: 100%;
    /* background-image: url('path/to/your/image.jpg'); Replace 'path/to/your/image.jpg' with your image path */
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.global{ 
    margin-top: 180PX;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px solid white; */
}
.immo , .plus{
    text-align: center;
    /* border-right: 1px solid black;
    border-left:  1px solid black; */
    width: 28%;
    /* background-color: blueviolet; */
}
.links{
    margin-top: 30px;
    margin-left: 20%;
    text-align:left ;
    display: flex;
    flex-direction: column;
}
.links .link{
    color: black;
    text-decoration: none;
}
.ab{
    margin-top: -500px;
}
.Contact{
    width: 30%;
}

.sm{
    display: flex;
    justify-content: center;
    /* width: 50%; */
    text-align: center;

}
.sm a{
    margin: 20PX;
    font-size: large;
}
.F{
    color: blue;
    
}
.t{
    color: aqua;
}
.i{
    color: rgb(193, 53, 132);
}
.y{
    color: red;
}
.bas{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    font-size: 20PX;
    font-weight: 500;
}
/* .ab{
    display: flex;
    justify-content: center;
    margin-left: 300PX;
    margin-top: 100PX;
} */